<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cit480.ourstory"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:name=".realm.OurStoryApplication"
        android:allowBackup="true"
        android:icon="@drawable/parent_mode"
        android:label="Our Story"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="landscape">


        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Our Story"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.FragmentTabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".activities.FragmentTabActivityParentMode"
            android:screenOrientation="landscape">

        </activity>

        <activity android:name=".activities.PinRequestActivity"
            android:screenOrientation="landscape">

        </activity>



    </application>

</manifest>